<div class="container">
  <form action="#">
    <div class="mb-3 mt-3">
      <label for="question">Question:</label>
      <textarea
        class="form-control"
        rows="5"
        id="question"
        name="text"
        disabled
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Answer:</label>
      <input
        type="answer"
        class="form-control"
        id="pwd"
        placeholder="Give your answer here"
        name="pswd"
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="comment">Your answer is Correct!</label>
    </div>
    <button type="submit" class="btn btn-primary">Check</button>
    <button type="submit" class="btn btn-primary">Next ></button>
  </form>
</div>
