<div class="container">
  <h1 class="mt-3">{{ subjectTitle }}</h1>
  <form action="#">
    <div class="mb-3 mt-3">
      <label for="question"
        >Question: {{ currentCount }} of {{ totalCount }}</label
      >
      <textarea
        class="form-control"
        rows="5"
        id="question"
        name="question"
        disabled
        >{{ questionText }}</textarea
      >
    </div>
    <div class="mb-3 mt-3">
      <ul>
        <li *ngFor="let choice of choices">
          {{ choice.text }}
        </li>
      </ul>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Answer:</label>
      <input
        type="text"
        class="form-control"
        id="answer"
        placeholder="Give your answer here"
        name="answer"
        #answer
      />
    </div>
    <div class="mb-3 mt-3">
      <label id="response">{{ response }}</label>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="onCheckClick(answer.value)"
    >
      Check
    </button>
    <button type="button" class="btn btn-primary" (click)="onNextClick(answer)">
      Next >
    </button>
  </form>
</div>
